#parent_1,
#parent_2 {
    background-color: lemonchiffon;
}

#parent_1 {
    border: 2px solid red;   
}
#parent_2 {
    border: 2px solid blue;
}

/* Nested Selector */
#parent_1 h2 {
    color: red;
}
#parent_1 .child_div h2 {
    color: blue;
}

/* #parent_1, #parent_2 */
/* #parent_1 h2 */
/* #parent_1 .child_div h2 */
/* #parent_1.parent */