@media(min-width:992px) {
    body {
        background-color: lightgrey;
    }
}

@media(max-width:768px) {
    body {
        background-color: lightyellow;
    }
}

.row {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.col {
    background-color: white;
    border: 1px solid red;
    padding: 10px;
}

.col-1 {
    width: 20%;
}
.col-2 {
    width: 40%;
}
.col-3 {
    width: 25%;
}

ul.list {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
ul.list li {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
    /* margin: 0px 4px; */
    background-color: red;
    border: 1px solid black;
}

/* ul li:last-child {
    align-self: flex-end;
} */

@media(max-width: 768px) {
    .row {
        display: block;
    }
    .col {
        width: 95%;
    }
}

@media(max-width: 1200px) {
    ul.list li {
        width: 280px;
    }
}

